.nav-item a .nav-icon {
    color: darkblue !important;
}
.content2 {
    background: #fafaff;
}
/* form page styling */
.profileformarea form,
.profileformarea .infoarea {
    box-shadow: 5px 2px 5px 0px rgb(179, 175, 175, 0.2);
    border-radius: 10px;
}
.profileformarea form #textcount {
    color: black;
    margin-top: 20px;
    text-align: center;
}

/*    notification page   */
#notifybox {
    margin: 10vh 0px;
    min-height: 80vh;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.219);
    background: #fff;
}

.noticontainer {
    height: 100vh;
    background: #fafafa;
    padding: 0px;
    overflow-y: scroll;
    padding-top: 20px;
    padding-bottom: 20px;
}
.noticontainer .box a {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    background: white;
    box-shadow: -1px 5px 5px 0px rgba(0, 0, 0, 0.219);
    margin-bottom: 10px;
}

.noticontainer .box .imgpart {
    grid-column: 1/3;
    max-width: 100px;
    max-height: 100px;
    padding: 10px;
    border-radius: 50%;
    overflow: hidden;
}
.noticontainer .box .detailpart {
    grid-column: 3/-1;
}
.noticontainer .box .detailpart p {
    padding: 0px;
    margin: 0px;
}

.noticontainer .box .read {
    background: lightgray;
}

/*
    profile settings page styling begins here
*/
.visiblebox .vbox{
   margin: 10px 0px;  
   display:grid; 
   grid-template-columns: repeat(12, 1fr);
   background:white;
   padding:10px;
   padding-top:20px;
   box-shadow: -1px 5px 5px 0px rgba(0, 0, 0, 0.219);
   transition:1s ease-in;
}

.visiblebox .vbox:hover {
    background: gray;
    font-weight: 600;
}

.visiblebox .vbox .label{
    grid-column: 1/10;
    color:darkblue;
    font-weight:900;
}
.visiblebox .vbox input{
    grid-column: 12/-1;
    height: 20px;
    width:20px;
    background:black;
}

.visiblebox .vbox .moreinfo{
    grid-column: 1/-1;
    text-align:justify;
    margin-top:20px;
    line-height:26px;
    padding: 10px 10px;
     border-top: 0.1px solid lightgray;
}




/*
    profile settings page styling ends here
*/